nav {
    background-color: #1C344C!important;
    border-color: #1C344C!important;
}

nav a {
    color: #f5f5f5!important;
}

nav a:hover {
    color: #C9B236!important;
}

.home {
    background-color: #287D7D;
    color: #F5f5f5;
    padding-top: 14em;
    padding-bottom: 14em;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.competence {
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding-top: 3em;
    padding-bottom: 12em;
    background-image: url('../Images/white-wave.png');
}

.competence h2,
.contact h2 {
    font-size: 45px!important;
    color: rgba(0, 0, 0, 0.8)!important;
}

.realisation h2 {
    font-size: 45px!important;
    color: rgba(245, 245, 245, 1)!important;
}

.realisation p {
    color: #AFBBC2;
}

.competence header {
    padding-bottom: 5em;
}

h1 {
    font-size: 56px!important;
}

.txtHome {
    padding-top: 1em;
    font-size: 20px!important;
}

.box {
    background: #287D7D;
    color: #f5f5f5;
    text-align: center;
    padding: 3em 2em 3.5em 2em;
    transition: all 200ms linear;
}

.box img {
    width: 200px;
    height: 200px;
}

.boxCompet {
    padding-bottom: 2em;
}

.box:hover {
    box-shadow:0 20px 40px rgba(0, 0, 0, 0.5);
}

.realisation {
    background-color: #287D7D;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding-top: 3em;
    padding-bottom: 12em;
}

.realisation header {
    padding-bottom: 5em;
}

.overlay,
.overlay2,
.overlay3,
.overlay4,
.overlay5,
.overlay6,
.overlay7,
.overlay8,
.overlay9 {
    background-color: rgba(0, 0 ,0, 0.25);
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: all 170ms linear;
}

.overlay:hover,
.overlay2:hover,
.overlay3:hover,
.overlay4:hover,
.overlay5:hover,
.overlay6:hover,
.overlay7:hover,
.overlay8:hover,
.overlay9:hover {
    background-color: rgba(28, 52, 76, 0.9);
}

.hoverTitleReal {
    bottom: 1em;
    font-size: 1em;
    left: 2.1875em;
    margin: 0;
    position: absolute;
    color: #f5f5f5;
    font-weight: bold;
    display: block;
}

.titleReal {
    display: none; 
    transition: all 0.3s;
}

.realisation article:first-child {
    padding: 0px!important;
    background-image: url(../Images/boue.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(2) {
    padding: 0px!important;
    background-image: url(../Images/cmsYou.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(3) {
    padding: 0px!important;
    background-image: url(../Images/asrac.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(4) {
    padding: 0px!important;
    background-image: url(../Images/hack.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(5) {
    padding: 0px!important;
    background-image: url(../Images/create_pro.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(6) {
    padding: 0px!important;
    background-image: url(../Images/pastime.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(7) {
    padding: 0px!important;
    background-image: url(../Images/theme_boots.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(8) {
    padding: 0px!important;
    background-image: url(../Images/pomodoro.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:last-child {
    padding: 0px!important;
    background-image: url(../Images/ebullition.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article a {
    cursor: pointer;
    color: #C9B236;
}

.contact {
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    padding-top: 3em;
    padding-bottom: 10em;
    background-image: url('../Images/white-wave.png');
}

.contactHeader {
    padding-bottom: 2em;
}

.mainContact {
    background: #287D7D;
    box-shadow:0 2px 30px rgba(0, 0, 0, 0.5);    
    padding: 3em 2em 3.5em 2em;
}

.mainContact footer {
    padding-top: 4em;
}

.mainContact footer p {
    padding-top: 3em;
}

.mainContact ul {
    padding-left: 0px;
}

.mainContact li{
    list-style: none;
    display: inline-block;
}

.mainContact ul li a {
    border-radius: 65%;
    border: 2px solid #1C344C;
    padding: 2.5em 1.7em 2em 1.7em;;
    color: #1C344C;
    transition: all 200ms linear;
}

.mainContact ul li a:hover {
    border: 2px solid #C9B236;
    color: #C9B236;
}

.mainContact footer h3 {
    padding-top: 2em;
}

.mainContact footer h3 a {
    color: #1C344C;
    transition: all 200ms linear;
}

.mainContact footer h3 a:hover {
    text-decoration: none;
    color: #C9B236;
}

.mainContact header a {
    background-color: #1C344C!important;
    border-color: #1C344C!important;
    transition: all 200ms linear;
}

.mainContact header a:hover {
    background-color: #C9B236!important;
    border-color: #C9B236!important;
}

.headSection {
    border-bottom: 2px #1C344C solid;
    padding-bottom: 2em;
    
}

.headSection h3,
.headSection p {
    color: #1C344C!important;
}

.footer {
    background-color: #1C344C;
    color: #B2B5CB;
    margin-bottom: 0px!important;
    
}

@media (max-width: 1024px) {
    
    h1,
    .txtHome {
        text-align: center;
    }
    
    .home img {
        /*height: 350px!important;*/
        
    }
}

@media (max-width: 700px) {
    
    .mainContact ul li:first-child {
        padding-right: 30px;
    }
    
    .mainContact ul li:last-child {
        display: block;
        padding-top: 60px;
    }
    
    .mainContact footer h3 a {
        font-size: 20px;
    }
    
}

@media (max-width: 350px) {
    
    .mainContact ul li:first-child {
        display: block;
        padding-right: 0px;
    }
    
    .mainContact ul li:nth-child(2) {
        display: block;
        padding-top: 60px;
    }
    
    .mainContact footer h3 a {
        font-size: 15px;
    }
}