nav {
    background-color: #494E7F!important;
}

nav a {
    color: white!important;
}

nav a:hover {
    color: #B2B5CB!important;
}

.home {
    background-color: #929DFF;
    padding-top: 14em;
    padding-bottom: 14em;
    box-shadow: inset 0px 0px 0px 1px rgba(32, 45, 178, 0.15), 0px 2px 3px 0px rgba(32, 45, 178, 0.1);
}

.competence {
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 0px 1px rgba(32, 45, 178, 0.15), 0px 2px 3px 0px rgba(32, 45, 178, 0.1);
    padding-top: 3em;
    padding-bottom: 12em;
    background-image: url('../Images/white-wave.png');
}

.competence h2,
.realisation h2,
.contact h2 {
    font-size: 45px!important;
    color: rgba(0, 0, 0, 0.8)!important;
}

.competence header {
    padding-bottom: 5em;
}

h1 {
    font-size: 56px!important;
}

.txtHome {
    padding-top: 1em;
    font-size: 20px!important;
}

.box {
    background: #929DFF;
    text-align: center;
    padding: 3em 2em 3.5em 2em;
    transition: all 200ms linear;
}

.box img {
    width: 200px;
    height: 200px;
}

.boxCompet {
    padding-bottom: 2em;
}

.box:hover {
    box-shadow:0 2px 40px rgba(0, 0, 0, 0.5);
}

.realisation {
    background-color: #929DFF;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding-top: 3em;
    padding-bottom: 12em;
}

.realisation header {
    padding-bottom: 5em;
}

.overlay,
.overlay2,
.overlay3,
.overlay4,
.overlay5,
.overlay6,
.overlay7,
.overlay8,
.overlay9 {
    background-color: rgba(0, 0 ,0, 0.3);
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: all 170ms linear;
}

.overlay:hover,
.overlay2:hover,
.overlay3:hover,
.overlay4:hover,
.overlay5:hover,
.overlay6:hover,
.overlay7:hover,
.overlay8:hover,
.overlay9:hover {
    background-color: rgba(73, 78, 127, 0.9);
}

.hoverTitleReal {
    bottom: 1em;
    font-size: 1em;
    left: 2.1875em;
    margin: 0;
    position: absolute;
    color: #f5f5f5;
    font-weight: bold;
    display: block;
}

.titleReal {
    display: none; 
    transition: all 0.3s;
}

.realisation article:first-child {
    padding: 0px!important;
    background-image: url(../Images/boue.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(2) {
    padding: 0px!important;
    background-image: url(../Images/cmsYou.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(3) {
    padding: 0px!important;
    background-image: url(../Images/asrac.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(4) {
    padding: 0px!important;
    background-image: url(../Images/hack.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(5) {
    padding: 0px!important;
    background-image: url(../Images/create_pro.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(6) {
    padding: 0px!important;
    background-image: url(../Images/pastime.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(7) {
    padding: 0px!important;
    background-image: url(../Images/theme_boots.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:nth-child(8) {
    padding: 0px!important;
    background-image: url(../Images/pomodoro.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article:last-child {
    padding: 0px!important;
    background-image: url(../Images/ebullition.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.realisation article img {
    display: none;
}

.realisation article a {
    cursor: pointer;
    color: black;
}

.contact {
    background-color: #f5f5f5;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    padding-top: 3em;
    padding-bottom: 10em;
    background-image: url('../Images/white-wave.png');
}

.contactHeader {
    padding-bottom: 2em;
}

.mainContact {
    background: #929DFF;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    padding: 3em 2em 3.5em 2em;
}

.mainContact footer {
    padding-top: 4em;
}

.mainContact footer p {
    padding-top: 3em;
}

.mainContact ul {
    padding-left: 0px;
}

.mainContact li{
    list-style: none;
    display: inline-block;
}

.mainContact ul li a {
    border-radius: 65%;
    border: 2px solid #494E7F;
    padding: 2.5em 1.7em 2em 1.7em;;
    color: #494E7F;
    transition: all 200ms linear;
}

.mainContact ul li a:hover {
    border: 2px solid #6F717F;
    color: #6F717F;
}

.mainContact footer h3 {
    padding-top: 2em;
}

.mainContact footer h3 a {
    color: rgba(0, 0, 0, 0.8);
}

.mainContact footer h3 a {
    color: rgba(0, 0, 0, 0.8);
    transition: all 200ms linear;
}

.mainContact footer h3 a:hover {
    text-decoration: none;
    color: #6F717F;
}

.mainContact header a {
    background-color: #494E7F!important;
    border-color: #494E7F!important;
    transition: all 200ms linear;
}

.mainContact header a:hover {
    background-color: #6F717F!important;
    border-color: #6F717F!important;
}

.headSection {
    border-bottom: 2px #494E7F solid;
    padding-bottom: 2em;
    
}

.footer {
    background-color: #494E7F;
    color: #B2B5CB;
    margin-bottom: 0px!important;
    
}
